.keyboard-key[data-state="pending"] {
  background-color: #717d8b;
}

.keyboard-key[data-state="incorrect"] {
  background-color: #ef4444;
}

.keyboard-key[data-state="partially"] {
  background-color: #f2b84b;
}

.keyboard-key[data-state="correct"] {
  background-color: #86bf5e;
}

.keyboard-key[data-size="large"] {
  font-size: 28px;
}

.keyboard-key:hover {
  background-color: #c4cbdd;
}

.key {
  transition: transform 0.1s ease;
}

.key:active {
  transform: scale(0.9);
}

.keyboard-key[data-state="partially"] {
  background-color: #f2b84b;
}
